<div class="flex flex-col gap-4 mt-4 py-10">
  <p class="text-white/80 leading-6">
    Entusiasta del diseño web y las nuevas tecnologías. Busco constantemente
    mejorar mis habilidades y destaco por mi flexibilidad ante los cambios.
  </p>
  <p class="text-white/80 leading-6">
    Disfruto colaborando en equipo, donde creo que florece la creatividad.
    Agrego un valor significativo a cada proyecto. ¡Construyamos algo grandioso
    juntos!
  </p>
</div>
