<header class="max-w-[1220px] mx-auto">
  <nav
    class="text-white opacity-80 flex items-center justify-center gap-8
  [&>a:hover]:text-slate-400
    [&>a]:transition
    [&>a]:duration-300"
  >
    <a href="/#inicio">Inicio</a>
    <a href="/#sobremi">Sobre mi</a>
    <a href="/#proyectos">Proyectos</a>
  </nav>
</header>
