<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  class="py-2 px-4
  text-xs md:text-md
  flex items-center justify-center gap-x-2
  bg-neutral-900
    border border-neutral-800 rounded-full
    hover:scale-110 hover:bg-neutral-800 transition"
>
  <slot />
</a>
